* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: absolute;
  height: 100%;
}

html, body {
  width: 100%;
  min-width: 350px;
}

header {
  flex: 0 0 auto;
}

body {
  position: relative;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

}

footer {
  flex: 0 0 auto;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}